* {
  box-sizing: border-box;
}

.chatside{
  background: #253141;
  width: 300px;
  height: 100vh;
  color: #FFFFFF;
  float: left;

  &_main{
  height: 100px;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 35px;
  }

  &_name{
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
  }

  &_icon{
    float: right;
  }
  .icon{
    color: #FFFFFF;
  }

  .list{
  display: inline-block;
  font-size: 20px;
  }

  .groups{
    background: #2f3e51;
    height: calc(100% - 100px);
    width: 300px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    overflow: scroll;
  }

  .group{
    font-size: 15px;
  }
  .group__name{
    color: white;
    font-size: 15px;
    margin-bottom: 5px;
  
  }
  .group__message{
    color: #FFFFFF;
    font-size: 11px;
    padding-bottom: 40px;
  }
}
.chatmain{
  height: 100vh;
  width: calc(100vw - 300px);
  float: left;

  &_group{
    height: 100px;
    font-size: 20px;
    padding: 0 40px;
    border-bottom: solid 1px #eee;
    position: relative;
  }
 .group__name{
    padding-top: 35px;    
  }
  .group__user{
    padding-top: 5px;
    font-size: 12px;
    color: #999999;
    display: flex;
  }
  .edit_btn{
    text-decoration: none;
    float: right;
    height: 40px;
    line-height: 40px;
    position: absolute;
    right: 40px;
    top: 5px;
    color: #38AEF0;
    border-style: solid;
    border-color: #38AEF0;
    border-width: 1px;
    padding: 0 20px;
    margin-top: 30px;
  }
}
.messages{
  width: 100%;
  height: calc(100vh - 190px);
  padding: 46px 40px;
  background: #fafafa;
  overflow: auto;
}

.message{
  padding-bottom: 40px;
}

.upper-message{
  display: flex;
  margin-bottom: 10px;

 &__user-name {
   color: #434a54;
   font-size: 16px;
   font-weight: bold;
 }

 &__data{
   color: #999999;
   font-size: 12px;
   margin-left: 10px;
   padding-top: 5px;
 }
}
.lower-message{
  color: #434a54;
  font-size: 14px;
  margin-bottom: 10px;
  cursor: pointer;
}
.new_message{
  background: #d8d8d8;
  height: 90px;
  width: calc(100vw - 300px);
  position: absolute;
  // bottom: 0;
  left: 300px;
  padding: 20px 40px;

  .form__message{
    height: 50px;
    width: 85%;
    padding: 0 40px 0 10px;
    border-style: none;
  }

  .form__submit{
    position: absolute;
    right: 40px;
    font-size: 20px;
    color: white;
    width: 100px;
    height: 50px;
    background: #38AEF0;
    margin-left: 15px; 
  }

  .form__mask{
    position: absolute;
    top: 25px;
    right: 240px;
    font-size: 1.5rem;
  }

  .hidden{
    display: none;
  }

  .fa.fa-picture-o.icon{
    height: 25px;
    width: 25px;
  }
}